/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Oct 12, 2022, 2:45:12 PM
    Author     : PC
*/

.container {
  width: 750px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
#table-head {
  background-color: lightblue;
}
.header {
  font-size: 36px;
  font-weight: bold;
}
#teacher {
  text-align: center;
  padding-left: 30px;
}
table {
  width: 100%;
}
img {
  width: 111px;
  height: 146px;
  border-width: 0px;
}