/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Oct 12, 2022, 10:01:18 AM
    Author     : PC
*/

.container {
  width: 750px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
#table-head {
  background-color: lightblue;
}
.header {
  font-size: 36px;
  font-weight: bold;
}
